<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>api.aura-safe-dating.com</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>shugar</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.9652613568-2q8v598lpmeaqbo9o8tnrtpl42gsrjcf</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Aura necesita acceso al micrófono para grabar mensajes de audio.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Shugar usa tu ubicación para mostrarte personas cercanas.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Shugar usa tu ubicación para mostrarte personas cercanas.</string>
</dict>
</plist>
